#map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
    justify-content: center;
}


#title {
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}